.services-card{
    margin-bottom: 40px;
    text-align: center;
    padding: 2em;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    -webkit-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
    box-shadow: 0px 20px 69px -27px rgba(0, 0, 0, 0.17);
}