.hireme-btn{
    background: #ffbd39;
    border: 1px solid #ffbd39 !important;
    color: #000000 ;
    border-radius: 25px;
}
.hireme-btn:hover{
    color: #ffbd39;
    background-color: #000000;
}
.hireme-btn:active{
    color: #ffbd39;
    background-color: #000000 !important;
}

.mywork-btn{
    background: #000000;
    border: 1px solid #ffbd39 !important;
    border-radius: 25px;
    color: #ffbd39;
}

.mywork-btn:hover{
    background: #ffbd39;
    color: #000000 ;

}
.heading-text-main{
    font-weight: 700;
    font-size: 50px;
}
.heading-text-main > .typewrter-text-main{
    font-weight: 700;
    color: #ffbd39;
    
    font-size: 45px;
}
.my-name{
    font-size: 60px;
}
