.contact-circle{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    color: #ffbd39;
    margin-bottom: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.contact-circle:hover{
    background: #ffbd39;
    color: black;
}
.icon-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-img-card{
    background-color: #1A1A1A;
}
.btn-primary{
    background: #ffbd39 !important;
    border: 1px solid #ffbd39 !important;
    border-radius: 25px;
    color: #000000 !important;
}