.footer-items {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.footer-items > li {
  margin-top: 10px;
  list-style: none;
 
}

.footer-item > div > li {
  margin-top: 10px;
  list-style: none;
}

.footer-item  {
display: flex;
justify-content: center;

}

li:hover {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffbd39;
  /* border-bottom: 1px solid #ffbd39; */
  cursor: pointer;
}
